extends layout
block navSearch
  .container
    form
      .input-field
        input#first_name.validate(placeholder='Apple', type='text')
        label(for='first_name') Search for food item to add
        //i.material-icons search
        //i.material-icons close
block foodTray
  .container.foodTray
    ul.collection.with-header
      each foodArr, i in foods
        li.collection-header
          h5= i
        each foodItem, k in foodArr.reverse()
          //- li.collection-header
          //-   h6= moment(foodItem.logDate).format("MM-DD-YYYY")
          //h5= i
          li.collection-item.avatar
            i.material-icons.circle mood
            span.title.capitalize.foodNameSpan= foodItem.foodName+' ['+foodItem.mealType+']'
            p= foodItem.cal + ' calories'
            p= moment(foodItem.logDate).format("MM-DD-YYYY HH:mm")
            a.secondary-content.delete-foodItem(href='/diet/'+foodItem._id, data-id=foodItem._id, style=hideButton.main)
              i.material-icons= sideIcon
          //- a.secondary-content.delete-foodItem(data-id=foodItem._id, style=hideButton.edit)
          //-   i.material-icons= si deIcon
